<launch>
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find elevation_change_detection)/config/custom_rosconsole.conf"/>
  <node pkg="elevation_change_detection" type="elevation_change_detection" name="elevation_change_detection" output="screen">
    <rosparam command="load" file="$(find elevation_change_detection)/config/default.yaml" />
    <param name="path_to_bag" value="$(find argos_navigation_data)/data/ROSBAG_NAME.bag" />
  </node>
</launch>