# Override any of the available loggers with your desired level.
# However, you should override the logger level only locally and revert
# your changes before pushing, unless you have a proper motivation for
# different default settings.

# Set the level of the ROS logger and all its children to DEBUG.
# log4j.logger.ros=WARN
# Set the level of the logger in the elevation_mapping package to DEBUG.
log4j.logger.ros.elevation_mapping=DEBUG
