<?xml version='1.0'?>
<model>
  <name>maze_obstacles</name>
  <version>0.1.0</version>
  <sdf>model.sdf</sdf>
  <author>
    <name>Martin Wermelinger</name>
    <email>martiwer@student.ethz.ch</email>
  </author>
  <description>
    Maze with different obstacles (furniture), 10x10m.
  </description>
</model>
