<launch>
	<env name="ROSCONSOLE_CONFIG_FILE" value="$(find elevation_mapping)/launch/custom_rosconsole.conf"/>
	<node pkg="pose_covariance_approximator" type="pose_covariance_approximator.py" name="pose_covariance_approximator" output="screen" />
 	<node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping" output="screen">
    	 <rosparam command="load" file="$(find elevation_mapping)/parameters/robots/atlas.yaml" />
    	 <rosparam command="load" file="$(find elevation_mapping)/parameters/elevation_maps/drc.yaml" />
    	 <rosparam command="load" file="$(find elevation_mapping)/parameters/sensor_processors/hokuyo_utm-30lx.yaml" />
    </node>
    <include file="$(find elevation_mapping)/launch/raw_visualization.launch" />
</launch>