<launch>
	<env name="ROSCONSOLE_CONFIG_FILE" value="$(find elevation_mapping)/launch/custom_rosconsole.conf"/>
 	<node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping" output="screen">
    	 <rosparam command="load" file="$(find elevation_mapping)/parameters/robots/ground_truth.yaml" />
    	 <rosparam command="load" file="$(find elevation_mapping)/parameters/elevation_maps/ground_truth.yaml" />
    	 <rosparam command="load" file="$(find elevation_mapping)/parameters/sensor_processors/perfect.yaml" />
    </node>
</launch>