<launch>
	<env name="ROSCONSOLE_CONFIG_FILE" value="$(find grid_map_visualization)/launch/custom_rosconsole.conf"/>
 	<node pkg="grid_map_visualization" type="grid_map_visualization" name="elevation_map_sigma_bound_visualization" output="screen">
 		 <param name="grid_map_topic" value="/elevation_mapping/elevation_map" />
 		 <param name="point_cloud/point_type" value="two_sigma_bound" />
    </node>
</launch>