<launch>
 	<node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping" output="screen">
    	 <rosparam command="load" file="$(find elevation_mapping_demos)/config/robots/ground_truth_demo.yaml" />
    	 <rosparam command="load" file="$(find elevation_mapping_demos)/config/elevation_maps/long_range.yaml" />
    	 <rosparam command="load" file="$(find elevation_mapping)/config/sensor_processors/perfect.yaml" />
    	 <rosparam command="load" file="$(find elevation_mapping_demos)/config/postprocessing/postprocessor_pipeline.yaml" />
    </node>

	<node pkg="point_cloud_io" type="read" name="read_ply" output="screen">
		<param name="file_path" value="$(find elevation_mapping_demos)/sample_data/maze.ply" />
		<param name="topic" value="/points" />
		<param name="frame" value="map" />
		<param name="rate" value="1.0" />
	</node>

	<!-- Launch RViz with the demo configuration. -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find elevation_mapping_demos)/rviz/elevation_map_visualization.rviz"/>

</launch>