<launch>

  <!-- Name of the world -->
  <arg name="world" default="empty"/>
  <!-- Enable/disable Rviz -->
  <arg name="rviz" default="true"/>
  <!-- Enable/disable Rviz -->
  <arg name="gazebo_gui" default="false"/>

  <!-- Elevation mapping node -->
  <node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping" output="screen">
    <rosparam command="load" file="$(find elevation_mapping_demos)/config/robots/simulation_robot.yaml" />
    <rosparam command="load" file="$(find elevation_mapping_demos)/config/elevation_maps/simulation_map.yaml" />
    <rosparam command="load" file="$(find elevation_mapping)/config/sensor_processors/perfect.yaml" />
  </node>

  <!-- Launch visualizations for the resulting elevation map -->
  <include file="$(find elevation_mapping_demos)/launch/visualization.launch" />

  <!-- Gazebo Simulation -->
  <include file="$(find elevation_mapping_gazebo)/launch/elevation_mapping_gazebo.launch">
    <arg name="gui" value="$(arg gazebo_gui)"/>
    <arg name="world" value="$(arg world)"/>
  </include>

  <!-- RViz -->
  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find elevation_mapping_gazebo)/rviz/elevation_mapping_gazebo.rviz" />
  </group>

</launch>
